
/***********************
	-	BASICS 	-
***********************/
html {
	overflow-x:hidden;
	padding: 0 !important;
	background:#fff;
	margin:0px !important;
}


  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/


	 .fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		max-height:500px !important;
		overflow:hidden;
	}

